torch
transformers
requests
numpy<2
tqdm
ujson
pyyaml
prettytable
scipy
matplotlib
datasets
toml
langchain==0.2.7
langchain-community==0.2.7
llama-index-core
llama-index-legacy
llama-index-embeddings-huggingface
llama-index-llms-openai
llama-index-retrievers-bm25
